* {
    box-sizing: border-box;
  }
  /* The Table Attributes */
  table {
    text-align: center;
    width: 1000px;
    margin: 20px auto;
    font-family: sans-serif;
    border-bottom: 5px solid #009688;
  }
  /* The Attributes that the Head and the Body of the Table Share */
  th,
  td {
    padding: 10px;
  }
  /* Attributes of the Head of the Body */
  th {
    background-color: #404040;
    color: white;
  }
  /* Attributes of Each Cell */
  td {
    background-color: #eee;
  }
  /*Attributes of Span*/
  span {
    padding: 5px 10px;
    margin: 3px;
    color: white;
  }
  /*Attributes */
  .blue {
    background-color: #03a9f4;
  }
  .pink {
    background-color: #e91e63;
  }
  